.field{
    border: 2px solid black;
    padding: 3px;
    display: block;
    border-radius: 5px;
    max-width: 300px;

    &__error{
        font-size: 14px;
        color: red;
        background-color: rgba($color: red, $alpha: 0.3);
    }

    &__input {
        width: 100%;
        display: block;
    }

    & + & {
        margin-top: 5px;
    }
}