.finder{

    color: rgba(1,1,1,.6);
    width: 100%;
    padding: 15px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba($color: #000, $alpha: 0.15);
    transition: .5s;
    top: 20px;

    &__back{
        transform: rotate(180deg);
    }
    &__next, &__back{
        display: inline-flex;
        align-items: center;
    }
    &__number{
        font-weight: 900;
    }
    &__bottom{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    &__text{
        text-align: center;
        margin-bottom: 20px;
    }
    &__space-filler{
        position: relative;
        border: 1px solid black;
    }


}