.finder{
    color: rgba(1,1,1,.6);
    width: 100%;
    padding: 15px 10px 20px 10px;
    border-radius: 10px;
    &__back{
        transform: rotate(180deg);
    }
    &__number{
        font-weight: 900;
        font-size: 14px;
    }
    &__bottom{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    &__text{
        text-align: center;
        margin-bottom: 20px;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
}